---
---
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:700");

$fa-font-path: "/fontawesome/fonts";
@import 'fontawesome/scss/font-awesome';

$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
$soft-red: #ff5454;
$link-color: $soft-red;
$link-hover-color: darken($link-color, 40%);
@import 'bootstrap-sass/assets/stylesheets/_bootstrap';

@import 'jasny-bootstrap/scss/jasny-bootstrap';

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navmenu {
  z-index: 1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: rgba(255,255,255,0.95);
    border: none;
    background-image: url('../img/overlay.png');
  }

  #main-navigation {
    right: 0;
    height: 51px;

    background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .open>.dropdown-menu {
      display: block;
    }

    .navbar-nav > li {

      position: relative;

      & > a {
        margin: 0px 6px;
        height: 60px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0px;

        transition: line-height .2s,
                    //box-shadow .2s,
                    //background-color .2s,
                    height .2s;
      }

      &:hover, &.open, &.active {
        & > a {
          box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.45);
          background-color: $soft-red;
          line-height: 30px;
          height: 60px;
          color: white;
        }
      }

      .dropdown-menu {
        margin-top: 10px;
        border-radius: 0px;
        border: 1px solid #909090;
        .dropdown-header {
          text-align: center;
        }
        li {
          &:hover a {
            background-color: $soft-red;
            color: white;
          }

          a {
            text-align: center;
          }
        } // li
      }

    }


  }
  .canvas {
    padding: 0;
  }
}
.main-push {
  display: none;
  @media (min-width: $screen-md-min) {
    display: block;
    padding-top: 50px;
  }
}

.section-heading {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

  &:before {
    display: block;
    width: 100%;
    position: absolute;
    height: 4px;
    top: 50%;
    margin-top: -2px;
    z-index: 0;
    content: " ";

    background-color: #e5e5e5;
  }

  span {
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: inline-block;
    width: auto;
    padding: 4px 20px;
    background-color: white;
  }

}

$carousel-height-main: 500px;

.enshadow {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45) inset;
}

.lifted {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
}

#main-callout {
  padding: 0px;
  margin-bottom: 0px;

  &, .carousel .carousel-inner {
    height: $carousel-height-main;
    background: none;
  }

  .item {
    height: $carousel-height-main;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @extend .enshadow;
  }

  .carousel {

    .carousel-inner {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      z-index: -1;

    }

    .carousel-mask > .container {
      position:relative;
      top: 200px;
      padding: 0px;
    }

    .carousel-caption {

      text-align: left;
      left: auto;
      right: auto;
      padding: 0px;

      width: 44% !important;
      position: static;

      h1 {
        font-size: 21px;
        padding-bottom: .5em;
      }

      p {
        padding: 5px 0;
        font-size: 16px;
        line-height: 1.3;
      }

      @media (min-width: $screen-md-min) {
        &:before {
          position: absolute;
          width: 300%;
          height: 100%;
          top: 0;
          left: -300%;
          z-index: -1;
          content: "";
          background-color: $soft-red;

        }
      }

      .caption-wrapper {
        position: relative;
        padding: 25px 20px;

        background-color: $soft-red;
        z-index: 1;
        h1, ol, p {
          margin: 0px;
        }

      }

      .carousel-indicators {
        position: static;
        top: auto;
        left: auto;
        margin: 0;
        text-align: left;
      }


    }

  }

} // end media desktop devices

section {
  padding: 25px 0;
}

section.title {
  padding: 0px;
}

.page-header {
  margin: 0px;
  padding: 30px 0;
  border-top: 20px solid $soft-red;
  border: 0px;
}

.btn-transparent {
  border: 2px solid #575d59;
  color: #575d59;

  &:hover {
    border-color: white;
    color: white;
  }
}

.banner-wrapper {
  background-position: top left,	center center;
  background-repeat: repeat, no-repeat;
  background-size: auto,cover;

  background-image: url('../img/overlay.png'), url('../img/picture1.jpg');

  @extend .enshadow;

  z-index: 1;
  padding: 100px 0;
  .banner {

    padding: 40px 0;
    background-color: rgba(21,28,23,0.85);
    color: white;

    h2, p {
      text-align: center;
      margin-bottom: 15px;
    }

    h2 {
      text-transform: uppercase;

    }
    p {
      color: #575d59;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 19px;
    }
  }
}

footer {
  margin-top: 0px;

  height: 60px;
  padding: 15px 0;
  background-color: #222;
  color: white;
  line-height: 30px;
}

.tan {
  background-color: #ecede3;
  border-color: darken(#ecede3, 20%);
}

.under-header {
  border-top-width: 1px;
  border-top-style: solid;
}

#contact {
  &, .section-heading span {
    background-color: #f2f5f3;
  }
  border-top: solid 5px #c1cac5;

}

.social-wrapper {
  text-align: center;
  li {
    float: none;
    display: inline-block;
    position: relative;
    a {
      height: 48px;
      width: 48px;
      padding: 0px;
      border-radius: 8px;
      line-height: 48px;
      text-align: center;
      font-size: 32px;
      margin: 0px 3px;
    }
  }

  li:hover {
    top: -5px;
  }

  li.facebook:hover a {background-color: #3C5A98 !important;}
  li.instagram:hover a {background-color: #2E5E86 !important;}
  li.twitter:hover a {background-color: #2DAAE4 !important;}
}

#contact .social-wrapper a {
  background-color: #c1cac5;
  color: #f2f5f3;
}

#contact .social-wrapper li {
  transition: top .3s;
  a {transition:  background-color .3s;}
}

ul.gears {
  list-style-type: none;
  li {
    position: relative;
    &:before {
      content: "\f013";
      font: normal normal normal 14px/1 FontAwesome;
      margin-right: 4px;
      color: $soft-red;
      font-size: inherit;
      position: absolute;
      left: -1.23em;
      top: 3px;
    }
    margin-bottom: 3px;

    &:hover:before {
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
    }

  }
}

#about-under {
  padding: 40px 0 50px;
  h2 {
    margin: 0px;
    margin-bottom: 2px;
  }
  h3 {
    margin: 0px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #575d59;
    font-size: 1.3em;
  }
}

$bubble-size: 180px;

.bubble {
  display: inline-block;
  font-size: $bubble-size / 2;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  background-color: $soft-red;

  width: $bubble-size;
  height: $bubble-size;
  line-height: $bubble-size;
  text-align: center;

  transition: box-shadow .2s;
  margin-bottom: 15px;
  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
  }
}

.bubble:hover {
  color: white;
  @extend .lifted;
}

.center {
  text-align: center;
}
