---
layout: default
---

<div id="home" class="main-push"></div>

<div class="jumbotron" id="main-callout">
  {% include slider.html %}
</div>

<section id="about" class="title" style="padding-bottom: 50px;">

  <div class="page-header">
    <div class="container">
      <h1 class="section-heading"><span>About SiteWorks&trade;</span></h1>
    </div>
  </div>

  <div class="container">

    <div class="row"><div class="col-md-8 col-md-offset-2">

        <p class="lead">With 20+ years of experience, trust SiteWorks for your contracting needs.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare tellus nibh. Vestibulum sed tortor magna. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at eleifend massa. Maecenas aliquam, augue vel dignissim dapibus, justo risus facilisis odio, eu scelerisque lacus enim ut est.</p>

        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla finibus quam non lorem bibendum, eu rutrum tellus ullamcorper. Nam luctus vitae risus in lacinia. Fusce vitae nisi eget nibh sodales facilisis sed vel nibh. Aenean dapibus leo nec felis dictum vulputate nec eget lacus. Nam quis porta elit. Nulla ornare sem et metus interdum eleifend.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare tellus nibh. Vestibulum sed tortor magna. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc at eleifend massa. Maecenas aliquam, augue vel dignissim dapibus, justo risus facilisis odio, eu scelerisque lacus enim ut est.</p>

        <p class="lead">With 20+ years of experience, trust SiteWorks for your contracting needs.</p>

    </div></div>

  </div><!-- /.container -->

</section>

<section class="tan under-header" id="about-under">
  <div class="container">

    <div class="row"><div class="col-md-10 col-md-offset-1">

        <h2>Services</h2>
        <h3>What we do</h3>

        <div class="row">

          <div class="col-md-4">
            <p>On the contrary of the push effect, the menu doesn't move with the canvas.</p>
            <p>You get the reveal effect by wrapping the content in a div and setting the - our services include:</p>
          </div>

          <div class="col-md-3">
            <ul class="gears">
              <li>Concrete</li>
              <li>Construction</li>
              <li>Building Services</li>
              <li>Asphalt</li>
            </ul>
          </div>

          <div class="col-md-3">
            <ul class="gears">
              <li>Equipment</li>
              <li>Bulldozing</li>
              <li>Site work!</li>
              <li>Other...</li>
            </ul>
          </div>

        </div> <!-- /.row -->

    </div></div>

  </div><!-- /.container -->
</section>

<section class="banner-wrapper" id="projects">

  <div class="banner">

    <div class="container">

      <h2>Projects</h2>

      <p>The past projects that help show our commitment to excellence</p>

      <p><a href="#" class="btn btn-transparent btn-lg">Check them out</a></p>

    </div>

  </div> <!-- /.banner -->

</section>

<section id="projects-container">

  <div class="container">

    <div class="row">

      {% include projects.html %}

    </div>

  </div><!-- /.container -->

</section>

<section id="contact">

  <div class="page-header">
    <div class="container">
      <h1 class="section-heading"><span>Contact Us</span></h1>
    </div>
  </div>

  <div class="container">

    <div class="row"><div class="col-md-10 col-md-offset-1">

      <div class="row">

        <div class="col-md-3 col-xs-6 center">

          <a class="bubble" href="mailto:{{site.email}}">
            <i class="fa fa-at"></i>
          </a>

        </div>

        <div class="col-md-3 col-xs-6 center">

          <a class="bubble" href="tel:{{site.phone}}" data-phone="{{site.phone}}">
            <i class="fa fa-phone"></i>
          </a>

        </div>

        <div class="col-md-3 col-xs-6 center">

          <a class="bubble" href="javascript:void(0);" data-fax="{{site.fax}}">
            <i class="fa fa-fax"></i>
          </a>

        </div>

        <div class="col-md-3 col-xs-6 center">

          <a class="bubble" id="contact-form" href="javascript:void(0);">
            <i class="fa fa-laptop"></i>
          </a>

        </div>

      </div> <!-- /.row -->

    </div></div>

  </div><!-- /.container -->

  <div class="page-header">
    <div class="container">
      <h1 class="section-heading"><span>Follow Us</span></h1>
    </div>
  </div>

  <div class="container">

    <div class="row"><div class="col-md-10 col-md-offset-1">

      <div class="social-wrapper">

        <ul class="nav nav-pills">

          <li class="facebook"><a href="{{ site.facebook_username | prepend: 'http://www.facebook.com/' }}" class="social-pill"><i class="fa fa-facebook-official"></i></a></li>
          <li class="twitter"><a href="{{ site.twitter_username | prepend: 'http://www.twitter.com/' }}" class="social-pill"><i class="fa fa-twitter"></i></a></li>
          <li class="instagram"><a href="{{ site.instagram_username | prepend: 'http://www.instagram.com/' }}" class="social-pill"><i class="fa fa-instagram"></i></a></li>

        </ul>

      </div>

    </div></div>

  </div><!-- /.container -->

</section>
