<div class="navmenu navmenu-default navmenu-fixed-left">
  <a class="navmenu-brand" href="{{ "/" | prepend: site.baseurl }}">{{site.title}}</a>
  <ul class="nav navmenu-nav">
    {% include navigation.html %}
  </ul>
</div>

<div class="canvas">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" id="main-navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas" aria-expanded="false" aria-controls="navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="hidden-xs">
        <ul class="nav navbar-nav">
          {% include navigation.html %}
        </ul> <!-- /.nav -->
      </div><!--/#navbar -->
    </div>
  </nav>
